body {
  margin: 0;
}

.posts {
  position: relative;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  z-index: -2;
}

.title {
  z-index: -3;
}

article {
  /* width: 100px; */
  height: 100px;
  background: blue;
}

main {
  position: relative;
  margin: 0 auto;
  background: yellow;
  max-width: 1280px;
  z-index: 0;
}

/* @media only screen and (min-width: 80em) {
  main {
    max-width: 1280px;
  }
} */

.column {
  height: 100vh;
  width: 20%;
  background: rgba(129, 41, 56, 0.5);
  margin-right: 16px;
}

.column:last-child {
  margin-right: 0px;
}

.grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: auto;
  display: flex;
  z-index: -1;
}

nav {
  z-index: 10;
}

.grid-control-wrapper {
  position: absolute;
  top: calc(100vh - 50px);
  right: 10px;
}

.grid-control-wrapper__hidden {
  display: none;
}

/* MEDIA QUERIES FOR RESPONSIVE BREAKPOINTS */

/* @media only screen and (min-width: 1280px) {
  main {
    max-width: 1280px;
  }
} */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    max-width: 1024px;
  }
  .col5 {
    display: none;
  }
  .col4 {
    margin-right: 0px;
  }
  .column {
    width: 25%;
  }
}

@media only screen and (min-width: 1px) and (max-width: 768px) {
  main {
    max-width: 768px;
  }
  .col4,
  .col5 {
    display: none;
  }
  .col3 {
    margin-right: 0px;
  }
  .column {
    width: calc(100% / 3);
  }
}
